.dashboard-navbar {
  padding-top: 10vh;
  list-style: none;
  display: flex;
  position: fixed;
  top: 10vh;
  flex-direction: column;
  height: 100%;
  width: 7vw;
  background-color: #c0daad;
}

.icon {
  transform: scale(1.5);
}

.sidenav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4rem 0rem;
  height: 6vh;
}

.sidenav-link:hover {
  width: 7vw;
  background-color: #506144;
}

.sidebar-button {
  width: 12vw;
  font-size: 2vh;
  background-color: transparent;
  display: block;
}

.sidebar-button:hover {
  background-color: transparent;
}