.home-navbar {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
  background-color: #A0BF8A;
  max-width: 100%;
  height: 10vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.brand-label {
  margin-left: 1rem;
  margin-bottom: 0;
  color: #513A28;
  font-weight: 700;
}

li {
  display: inline-block;
  align-items: center;
  text-align: center;
}

li Link {
  display: flex;
  color: #513A28;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: #223635;
}

.nav-button {
  background-color: transparent;
  display: block;
}

.nav-button:hover {
  background-color: #1a312b;
  height: 10vh;
  border-radius: 0;
  color: #F5F3F0;
}

.active {
  background-color: #223635;
}