.profile-page{
    margin: auto;
    width: 50%;
    
    top: 40%;
    left: 25%;
    padding-top: 3vh;

}

.section {
    border-width: 3px;
    border-radius: 20px;
    padding: 2vh;
    padding-top: 3vh;
    background-color: rgb(212, 221, 206);
}

.profile-title {
    padding-top: 3vh;
    font-size: 2em;
}

.profile-subtitle {
    font-size: 1.25em;
    margin-bottom: 0;
    margin-right: 1rem;
}

.edit-button {
    border-radius: 50%;
    padding: 0.5rem;
}

.fields {
    font-size: 1em;
}

.settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 2vh;
}