/* Global Styles */

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: white;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: #2F3E46;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

router-outlet + *  {
  padding: 0;
}

/* Text */

h1 {
  font-size: 32px;
  margin-bottom: 0;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: 500;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #52796F;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  border: 1px solid #BDBDBD;
  color: #303030;
  width: 100%;
}

label {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 4px;
  margin-top: 16px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 20px;
  cursor: pointer;
  background-color: #52796F;
  color: white;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

@media only screen and (max-device-width: 480px) {

  .home-page-info {
    margin: auto;
    width: 85%;
  }

  .content {
    margin: 0;
  }
}