/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  color: #513A28;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: #F5F3F0;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

router-outlet + *  {
  padding: 0;
}

/* Text */

h1 {
  font-size: 4.75vh;
  margin-bottom: 1rem;
  font-weight: 700;
}

p {
  font-size: 2.75vh;
  margin-bottom: 1.5rem;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #599365;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  border: 1px solid #BDBDBD;
  color: #303030;
  width: 100%;
}

label {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 4px;
  margin-top: 16px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button, button {
  display: inline-flex;
  text-align: center;
  padding: 1.5vh 2.5vh;
  border-radius: 5vh;
  
  font-size: 2.75vh;
  font-weight: 700;

  cursor: pointer;
  background-color: #A0BF8A;
  color: #513A28;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;

  background-color: #1a312b;
  color: #F5F3F0;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

@media only screen and (max-device-width: 480px) {

  .home-page-info {
    margin: auto;
    width: 85%;
  }

  .content {
    margin: 0;
  }
}